<div id="page-content">
  <H class="text-center mt-4"> <%= @article.title %> </H2>

  <div class="container">

      <div class="row justify-content-md-center">
        <div class="col-8 mt-4">
          <div class="card text-center shadow mb-5 bg-white rounded">
            <div class="card-header font-italics  ">
              by Bobbi Pratt
            </div>
            <div class="card-body">
              <div class="card-text text-left"><%= simple_format(@article.description) %> </div>
              <%= link_to "Edit", edit_article_path(@article), class: "btn btn-outline-success" %>
              <%= link_to "Delete", article_path(@article), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %>
            </div>
            <div class="card-footer text-muted">
              <small> Created <%= time_ago_in_words(@article.created_at) %>  ago, 
              edited  <%= time_ago_in_words(@article.updated_at) %> ago </small>
            </div>
          </div>
        </div>
      </div>

  </div>
  </div>
  
<%=link_to 'Create New Article', new_article_path %>

<%= link_to 'Edit', edit_article_path(@article) %> | 
<%= link_to 'Delete', article_path(@article), method: :delete, data: { confirm: "You sure?"} %> |
<%= link_to 'Return to listing', articles_path %> |